openapi: 3.0.0
info:
  title: KvK.GsaSearch.WebApi
  description: ''
  contact: {}
  version: 'v1'
servers:
- url: https://api.kvk.nl
  variables: {}
paths:
  /api/v2/search/companies:
    get:
      tags:
      - Companies
      summary: Companies_GetCompaniesBasicV2
      description: Get a list with basic information about companies
      operationId: CompaniesGetcompaniesbasicv2
      parameters:
      - name: user_key
        in: query
        description: User Key authentication parameter.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: kvkNumber
        in: query
        description: KvK number, identifying number for a registration in the Netherlands Business Register. Consists of 8 digits
        style: form
        explode: true
        schema:
          type: string
      - name: branchNumber
        in: query
        description: Branch number (Vestigingsnummer), identifying number of a branch. Consists of 12 digits
        style: form
        explode: true
        schema:
          type: string
      - name: rsin
        in: query
        description: RSIN is an identification number for legal entities and partnerships. Consist of only digits
        style: form
        explode: true
        schema:
          type: string
      - name: street
        in: query
        description: Street of an address
        style: form
        explode: true
        schema:
          type: string
      - name: houseNumber
        in: query
        description: House number of an address
        style: form
        explode: true
        schema:
          type: string
      - name: postalCode
        in: query
        description: Postal code or ZIP code, example 1000AA
        style: form
        explode: true
        schema:
          type: string
      - name: city
        in: query
        description: City or Town name
        style: form
        explode: true
        schema:
          type: string
      - name: tradeName
        in: query
        description: The name under which a company or a branch of a company operates;
        style: form
        explode: true
        schema:
          type: string
      - name: includeFormerTradeNames
        in: query
        description: Indication (true/false) to search through expired trade names and expired registered names and/or include these in the results. Default is false
        style: form
        explode: true
        schema:
          type: boolean
      - name: includeInactiveRegistrations
        in: query
        description: >-
          Indication (true/false) to include searching through inactive dossiers/deregistered companies. Default is false.

          Note: History of inactive companies is after 1 January 2013
        style: form
        explode: true
        schema:
          type: boolean
      - name: mainBranch
        in: query
        description: Search includes main branches. Default is true
        style: form
        explode: true
        schema:
          type: boolean
      - name: branch
        in: query
        description: Search includes branches. Default is true
        style: form
        explode: true
        schema:
          type: boolean
      - name: legalPerson
        in: query
        description: Search includes legal persons. Default is true
        style: form
        explode: true
        schema:
          type: boolean
      - name: startPage
        in: query
        description: Number indicating which page to fetch for pagination. Default = 1, showing the first 10 results
        style: form
        explode: true
        schema:
          type: string
      - name: site
        in: query
        description: Defines the search collection for the query
        style: form
        explode: true
        schema:
          type: string
      - name: context
        in: query
        description: User can optionally add a context to identify his result later on
        style: form
        explode: true
        schema:
          type: string
      - name: q
        in: query
        description: Free format text search for in the compiled search description.
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultData[CompanyBasicV2]'
  /api/v2/profile/companies:
    get:
      tags:
      - Companies
      summary: Companies_GetCompaniesExtendedV2
      description: Get extended information about a specific company or establishment
      operationId: CompaniesGetcompaniesextendedv2
      parameters:
      - name: user_key
        in: query
        description: User Key authentication parameter.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: kvkNumber
        in: query
        description: KvK number, identifying number for a registration in the Netherlands Business Register. Consists of 8 digits
        style: form
        explode: true
        schema:
          type: string
      - name: branchNumber
        in: query
        description: Branche number (Vestigingsnummer), identifying number of a branch. Consists of 12 digits
        style: form
        explode: true
        schema:
          type: string
      - name: rsin
        in: query
        description: RSIN is an identification number for legal entities and partnerships. Consist of only digits
        style: form
        explode: true
        schema:
          type: string
      - name: includeInactiveRegistrations
        in: query
        description: >-
          Indication (true/false) to include searching through inactive dossiers/deregistered companies. Default is false.

          Note: History of inactive companies is after 1 January 2013
        style: form
        explode: true
        schema:
          type: boolean
      - name: restrictToMainBranch
        in: query
        description: Search is restricted to main branches. Default is false.
        style: form
        explode: true
        schema:
          type: boolean
      - name: site
        in: query
        description: Defines the search collection for the query
        style: form
        explode: true
        schema:
          type: string
      - name: context
        in: query
        description: User can optionally add a context to identify his result later on
        style: form
        explode: true
        schema:
          type: string
      - name: q
        in: query
        description: Free format text search for in the compiled search description.
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultData[CompanyExtendedV2]'
  /api/v2/testsearch/companies:
    get:
      tags:
      - CompaniesTest
      summary: CompaniesTest_GetCompaniesBasicV2
      description: Get a list with basic information about companies
      operationId: CompaniestestGetcompaniesbasicv2
      parameters:
      - name: kvkNumber
        in: query
        description: KvK number, identifying number for a registration in the Netherlands Business Register. Consists of 8 digits
        style: form
        explode: true
        schema:
          type: string
      - name: branchNumber
        in: query
        description: Branch number (Vestigingsnummer), identifying number of a branch. Consists of 12 digits
        style: form
        explode: true
        schema:
          type: string
      - name: rsin
        in: query
        description: RSIN is an identification number for legal entities and partnerships. Consist of only digits
        style: form
        explode: true
        schema:
          type: string
      - name: street
        in: query
        description: Street of an address
        style: form
        explode: true
        schema:
          type: string
      - name: houseNumber
        in: query
        description: House number of an address
        style: form
        explode: true
        schema:
          type: string
      - name: postalCode
        in: query
        description: Postal code or ZIP code, example 1000AA
        style: form
        explode: true
        schema:
          type: string
      - name: city
        in: query
        description: City or Town name
        style: form
        explode: true
        schema:
          type: string
      - name: tradeName
        in: query
        description: The name under which a company or a branch of a company operates;
        style: form
        explode: true
        schema:
          type: string
      - name: includeFormerTradeNames
        in: query
        description: Indication (true/false) to search through expired trade names and expired registered names and/or include these in the results. Default is false
        style: form
        explode: true
        schema:
          type: boolean
      - name: includeInactiveRegistrations
        in: query
        description: >-
          Indication (true/false) to include searching through inactive dossiers/deregistered companies. Default is false.

          Note: History of inactive companies is after 1 January 2013
        style: form
        explode: true
        schema:
          type: boolean
      - name: mainBranch
        in: query
        description: Search includes main branches. Default is true
        style: form
        explode: true
        schema:
          type: boolean
      - name: branch
        in: query
        description: Search includes branches. Default is true
        style: form
        explode: true
        schema:
          type: boolean
      - name: legalPerson
        in: query
        description: Search includes legal persons. Default is true
        style: form
        explode: true
        schema:
          type: boolean
      - name: startPage
        in: query
        description: Number indicating which page to fetch for pagination. Default = 1, showing the first 10 results
        style: form
        explode: true
        schema:
          type: string
      - name: site
        in: query
        description: Defines the search collection for the query
        style: form
        explode: true
        schema:
          type: string
      - name: context
        in: query
        description: User can optionally add a context to identify his result later on
        style: form
        explode: true
        schema:
          type: string
      - name: q
        in: query
        description: Free format text search for in the compiled search description.
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultData[CompanyBasicV2]'
  /api/v2/testprofile/companies:
    get:
      tags:
      - CompaniesTest
      summary: CompaniesTest_GetCompaniesExtendedV2
      description: Get extended information about a specific company or establishment
      operationId: CompaniestestGetcompaniesextendedv2
      parameters:
      - name: kvkNumber
        in: query
        description: KvK number, identifying number for a registration in the Netherlands Business Register. Consists of 8 digits
        style: form
        explode: true
        schema:
          type: string
      - name: branchNumber
        in: query
        description: Branche number (Vestigingsnummer), identifying number of a branch. Consists of 12 digits
        style: form
        explode: true
        schema:
          type: string
      - name: rsin
        in: query
        description: RSIN is an identification number for legal entities and partnerships. Consist of only digits
        style: form
        explode: true
        schema:
          type: string
      - name: includeInactiveRegistrations
        in: query
        description: >-
          Indication (true/false) to include searching through inactive dossiers/deregistered companies. Default is false.

          Note: History of inactive companies is after 1 January 2013
        style: form
        explode: true
        schema:
          type: boolean
      - name: restrictToMainBranch
        in: query
        description: Search is restricted to main branches. Default is false.
        style: form
        explode: true
        schema:
          type: boolean
      - name: site
        in: query
        description: Defines the search collection for the query
        style: form
        explode: true
        schema:
          type: string
      - name: context
        in: query
        description: User can optionally add a context to identify his result later on
        style: form
        explode: true
        schema:
          type: string
      - name: q
        in: query
        description: Free format text search for in the compiled search description.
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultData[CompanyExtendedV2]'
  /version:
    get:
      tags:
      - Version
      summary: Version_GetVersion
      operationId: VersionGetversion
      parameters: []
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                description: OK
components:
  schemas:
    ResultData[CompanyBasicV2]:
      title: ResultData[CompanyBasicV2]
      type: object
      properties:
        itemsPerPage:
          type: integer
          description: Amount of search results per page used for the query
          format: int32
        startPage:
          type: integer
          description: The current page of the results
          format: int32
        totalItems:
          type: integer
          description: Total amount of results spread over multiple pages
          format: int32
        nextLink:
          type: string
          description: Link to next set of ItemsPerPage result items
        previousLink:
          type: string
          description: Link to previous set of ItemsPerPage result items
        query:
          type: string
          description: Original query
        items:
          type: array
          items:
            $ref: '#/components/schemas/CompanyBasicV2'
          description: Actual search results
      description: Standardized Resultdata
    CompanyBasicV2:
      title: CompanyBasicV2
      type: object
      properties:
        kvkNumber:
          type: string
        branchNumber:
          type: string
        rsin:
          type: string
        tradeNames:
          $ref: '#/components/schemas/CompanySearchV2TradeNames'
        hasEntryInBusinessRegister:
          type: boolean
        hasNonMailingIndication:
          type: boolean
        isLegalPerson:
          type: boolean
        isBranch:
          type: boolean
        isMainBranch:
          type: boolean
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/CompanySearchV2Address'
          description: At most 1 address is returned
        websites:
          type: array
          items:
            type: string
          description: ''
    CompanySearchV2TradeNames:
      title: CompanySearchV2TradeNames
      type: object
      properties:
        businessName:
          type: string
        shortBusinessName:
          type: string
        currentTradeNames:
          type: array
          items:
            type: string
          description: ''
        formerTradeNames:
          type: array
          items:
            type: string
          description: ''
        currentStatutoryNames:
          type: array
          items:
            type: string
          description: ''
        formerStatutoryNames:
          type: array
          items:
            type: string
          description: ''
        currentNames:
          type: array
          items:
            type: string
          description: ''
        formerNames:
          type: array
          items:
            type: string
          description: ''
    CompanySearchV2Address:
      title: CompanySearchV2Address
      type: object
      properties:
        type:
          type: string
        street:
          type: string
        houseNumber:
          type: string
        houseNumberAddition:
          type: string
        postalCode:
          type: string
        city:
          type: string
        country:
          type: string
    CompanySearchCriteriaExtendedV2:
      title: CompanySearchCriteriaExtendedV2
      type: object
      properties:
        kvkNumber:
          type: string
          description: KvK number, identifying number for a registration in the Netherlands Business Register. Consists of 8 digits
        branchNumber:
          type: string
          description: Branche number (Vestigingsnummer), identifying number of a branch. Consists of 12 digits
        rsin:
          type: string
          description: RSIN is an identification number for legal entities and partnerships. Consist of only digits
        includeInactiveRegistrations:
          type: boolean
          description: >-
            Indication (true/false) to include searching through inactive dossiers/deregistered companies. Default is false.

            Note: History of inactive companies is after 1 January 2013
        restrictToMainBranch:
          type: boolean
          description: Search is restricted to main branches. Default is false.
        isValid:
          type: boolean
        site:
          type: string
          description: Defines the search collection for the query
        context:
          type: string
          description: User can optionally add a context to identify his result later on
        q:
          type: string
          description: Free format text search for in the compiled search description.
      description: Extended Company Search
    ResultData[CompanyExtendedV2]:
      title: ResultData[CompanyExtendedV2]
      type: object
      properties:
        itemsPerPage:
          type: integer
          description: Amount of search results per page used for the query
          format: int32
        startPage:
          type: integer
          description: The current page of the results
          format: int32
        totalItems:
          type: integer
          description: Total amount of results spread over multiple pages
          format: int32
        nextLink:
          type: string
          description: Link to next set of ItemsPerPage result items
        previousLink:
          type: string
          description: Link to previous set of ItemsPerPage result items
        query:
          type: string
          description: Original query
        items:
          type: array
          items:
            $ref: '#/components/schemas/CompanyExtendedV2'
          description: Actual search results
      description: Standardized Resultdata
    CompanyExtendedV2:
      title: CompanyExtendedV2
      type: object
      properties:
        kvkNumber:
          type: string
        branchNumber:
          type: string
        rsin:
          type: string
        tradeNames:
          $ref: '#/components/schemas/CompanyProfileV2TradeNames'
        legalForm:
          type: string
        businessActivities:
          type: array
          items:
            $ref: '#/components/schemas/CompanyProfileV2BusinessActivity'
          description: ''
        hasEntryInBusinessRegister:
          type: boolean
        hasCommercialActivities:
          type: boolean
        hasNonMailingIndication:
          type: boolean
        isLegalPerson:
          type: boolean
        isBranch:
          type: boolean
        isMainBranch:
          type: boolean
        employees:
          type: integer
          format: int32
        foundationDate:
          type: string
        registrationDate:
          type: string
        deregistrationDate:
          type: string
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/CompanyProfileV2Address'
          description: ''
        websites:
          type: array
          items:
            type: string
          description: ''
    CompanyProfileV2TradeNames:
      title: CompanyProfileV2TradeNames
      type: object
      properties:
        businessName:
          type: string
        shortBusinessName:
          type: string
        currentTradeNames:
          type: array
          items:
            type: string
          description: ''
        formerTradeNames:
          type: array
          items:
            type: string
          description: ''
        currentStatutoryNames:
          type: array
          items:
            type: string
          description: ''
        formerStatutoryNames:
          type: array
          items:
            type: string
          description: ''
        currentNames:
          type: array
          items:
            type: string
          description: ''
        formerNames:
          type: array
          items:
            type: string
          description: ''
    CompanyProfileV2BusinessActivity:
      title: CompanyProfileV2BusinessActivity
      type: object
      properties:
        sbiCode:
          type: string
        sbiCodeDescription:
          type: string
        isMainSbi:
          type: boolean
    CompanyProfileV2Address:
      title: CompanyProfileV2Address
      type: object
      properties:
        type:
          type: string
        bagId:
          type: string
        street:
          type: string
        houseNumber:
          type: string
        houseNumberAddition:
          type: string
        postalCode:
          type: string
        city:
          type: string
        country:
          type: string
        gpsLatitude:
          type: number
        gpsLongitude:
          type: number
        rijksdriehoekX:
          type: number
        rijksdriehoekY:
          type: number
        rijksdriehoekZ:
          type: number
tags:
- name: Companies
  description: ''
- name: CompaniesTest
  description: ''
- name: Version
  description: ''
